<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col m4 offset-m8 s12">
                <h5 class="white-text">Join the Discussion</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Ryan Rodwell, All Rights Reserved.
        </div>
    </div>
</footer>