<!--About-->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="small">
                <br>
                <div class="container about-img">
                    <img class="profile-img img-responsive img-about " src="assets/img/headshot.jpg" alt="Ryan Rodwell">
                </div>
                <div class="container about-info">
                    <p class="lead">Hi, my name is Ryan and this is a little bit about me... I am originally from Florida but currently reside in Georgia. As of May 2017, I am a graduate from the Georgia Institute of Technology. After what seemed to be a very long 5 years, I finally completed my BS in Industrial Engineering. During my time here at Georgia Tech I was lucky enough to be the punter for the Yellow Jacket's football team, which I am mostly remembered for my fake punt against Miami... Although I was <a href="https://www.youtube.com/watch?v=VIrr8UvToF0" target="_blank">BODY SLAMMED</a> on national television, I still managed to get the first down!</p>
                </div>
                <div class="container about-img">
                    <img class="profile-img img-responsive img-about center-block" src="assets/img/aboutme.jpg" alt="Ryan Rodwell" width="400">
                </div>
                <div class="container about-info">
                    <p class="lead">I have always had a passion for Technology and love how it has the ability to improve the lives of the people who utilize it! I started this journey to becoming a Full Stack Web Developer not too long ago by joining Georgia Tech's Coding Bootcamp. I have learned a tremendous amount in such a short time and love the challenges that come along with development. I am excited and looking forward to the opportunities that lie ahead!</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
{{> footer }}