<!-- Conatct -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4><strong>Ryan Rodwell</strong>
            </h4>
            <ul class="list-unstyled">
                <li>Atlanta, GA</li>
                <li><i class="fa fa-phone fa-fw"></i> (386) 748-7367</li>
                <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:ryanrodwell@gmail.com">ryanrodwell@gmail.com</a>
                </li>
            </ul>
            <hr class="small">
            <p id="resume"><i class="fa fa-file-pdf-o"></i> <a href="assets/resume/RodwellResumeDeveloper.pdf" download="RodwellResumeDeveloper">Download Resume</a>
            </p>
            <br>
            <ul class="list-inline">
                <li>
                    <a href="https://www.linkedin.com/in/ryanrodwell/" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="https://github.com/rrodwell" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/7412922/ryan-rodwell" target="_blank"><i class="fa fa-stack-overflow fa-fw fa-3x"></i></a>
                <li>
                    <a href="https://twitter.com/rrodwell85" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; Ryan Rodwell 2017</p>
        </div>
    </div>
</div>
{{> footer }}