<!-- Home -->
<div class="home-page">
    <div class="center">
        <h1>Ryan Rodwell</h1>
        <h3>Full Stack Web Developer | Industrial Engineer</h3>
        <br>
        <a href="/about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</div>