<!-- Projects -->
<div id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Portfolio Work</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/videos/signaturefd">
                                <img class="img-portfolio img-responsive" src="assets/img/signaturefd.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/videos/illegalformation">
                                <img class="img-portfolio img-responsive" src="assets/img/illegal-formation.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/videos/cheeriomongo">
                                <img class="img-portfolio img-responsive" src="assets/img/cheeriomongo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/videos/stylecast">
                                <img class="img-portfolio img-responsive" src="assets/img/stylecast.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/videos/bamazon">
                                <img class="img-portfolio img-responsive" src="assets/img/bamazon.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/videos/burger">
                                <img class="img-portfolio img-responsive" src="assets/img/eat-da-burger.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/videos/advancedtrivia">
                                <img class="img-portfolio img-responsive" src="assets/img/advanced-trivia.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/videos/flashcards">
                                <img class="img-portfolio img-responsive" src="assets/img/node-flashcards.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/videos/trainschedule">
                                <img class="img-portfolio img-responsive" src="assets/img/train-schedule.png">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

{{> footer }}