<!-- Technologies -->
<div id="technology" class="technologies bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Technologies that I have experience using </h2>
                <hr class="small">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <h2>Front End Technology</h2>
                        <table class="devstack col-lg-offset-1">
                            <tr>
                                <td><div class="pretty"><span class="hoverText">HTML5</span><i class="devicon-html5-plain"></i></div></td>
                                <td><div class="pretty"><span class="hoverText">CSS3</span><i class="devicon-css3-plain"></i></div></td>
                                <td><div class="pretty"><span class="hoverText">Bootstrap</span><i class="devicon-bootstrap-plain"></i></div></td>
                            </tr>
                            <tr>
                                <td><div class="pretty"><span class="hoverText">JavaScript</span><i class="devicon-javascript-plain"></i></div></td>
                                <td><div class="pretty"><span class="hoverText">jQuery</span><i class="devicon-jquery-plain"></i></div></td>
                                <td><div class="pretty"><span class="hoverText">Angular.js</span><i class="devicon-angularjs-plain"></i></div></td>
                            </tr>
                            <tr>
                                <td><div class="pretty"><span class="hoverText">Node.js</span><i class="devicon-nodejs-plain-wordmark"></i></div></td>
                                <td><div class="pretty"><span class="hoverText">React.js</span><i class="devicon-react-plain"></i></div></td>

                                <td><div class="pretty"><span class="hoverText">PHP</span><i class="devicon-php-plain"></i></div></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 text-center">
                        <h2>Back End Technology</h2>
                        <table class="devstack col-lg-offset-2">
                            <tr>
                                <td><div class="pretty"><span class="hoverText">MySQL</span><i class="devicon-mysql-plain"></i></div></td>
                                <td><div class="pretty"><span class="hoverText">MongoDB</span><i class="devicon-mongodb-plain"></i></div></td>
                                <td><div class="pretty"><span class="hoverText">AWS</span><i class="devicon-amazonwebservices-plain"></i></div></td>
                            </tr>
                            <tr>
                                <td><div class="pretty"><span class="hoverText">GitHub</span><i class="devicon-github-plain"></i></div></td>
                                <td><div class="pretty"><span class="hoverText">Heroku</span><i class="devicon-heroku-plain"></i></div></td>
                                <td><div class="pretty"><span class="hoverText">SSH</span><i class="devicon-ssh-plain"></i></div></td>
                            </tr>
                            <tr>
                                <td><div class="pretty"><span class="hoverText">Python</span><i class="devicon-python-plain"></i></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

{{> footer }}