html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}


header, main, footer, .page-footer {
    padding-left: 300px;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}

.side-nav {
    background: #161616;
}

ul.side-nav.fixed li:focus {
    background-color: white;
}

.side-nav li  {
    line-height: 30px;
}

.side-nav li:first-child span {
    color: #f5f5f5;
    display: inline-block;
    font-size: large;
}

#profile-img {
    height: 250px;
    width: 250px;
    margin: 15px auto 0 auto;
}

ul.logos {
    margin-top: 20px;
    width: 75%;
}

ul.logos li a{
    padding: 0;
    text-align: center !important;
}

.logos li a i{
    color: #adadad;
    width: 100%;
}

.text-home, .text-home i {
    color: #ffc400 !important;
}

.text-about, .text-about i {
    color: #0288d1 !important;
}

.text-projects, .text-projects i {
    color: #e53935 !important;
}

.text-contact, .text-contact i {
    color: #4caf50 !important;

}

.text-tech, .text-tech i {
    color: #9575cd !important;
}

/*Home*/
.home-page {
    min-height: 100%;
    width: 100%;
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}


/*About*/
img.profile-img {
    width: 400px;
}

/*Projects*/

/*Technologies*/

/* Makes Devicons bigger */

[class^="devicon-"],
[class*=" devicon-"]{
    /*    line-height: 10; */
    font-size: 70px;
    padding: 10px;
}

.fa-icon{
    font-size: 70px;
    padding: 10px;
}
/* Devicon li's */
td {
    padding: 6px !important;
}
.pretty {
    padding: 10px;
}
.devstack li {
    text-decoration: none;
    display: inline;
}

.devstack .hoverText {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 90px;
    margin-top: 4px;
    border-radius: 6px;
}
/*Contact*/

/*Footer*/
footer, .page-footer {
    background: #161616;
}

/*Media Queries*/
@media (max-width: 1200px) {

}

@media (max-width: 990px) {
    footer, .page-footer {
        padding-left: 0 !important;
    }
}
